body{
    margin: 0;
    padding: 0;

    --cViolet1 : #3a1078 ;
    --cViolet1Hover : #6c36bc ;
    --cViolet1HoverLighter : #865bc7 ;
    --cGreenBlue : #3795bd ;
    --cWhite: #f7f7f8; 
    --cLightBlue: #ddedf4;
}
header{
    height: 100px;
    background-color: var(--cViolet1);
    color: var(--cWhite);
    margin: 0;
    padding: 0;
    align-content: last baseline;
    > h1{
        padding: 10px;
        
    }
}
/* sidebar */

.sidebar{
    margin: 0;
    padding: 0;
    width: 80px;
    position: fixed;
    height: 100%;
    overflow: auto;
    text-align: center;

}
.addNewContetnt{
    margin: 0;
    margin-left: 80px;
    padding: 10px;
    min-height: 900px;
    color: var(--cViolet1);
    
}

main button{
    border: none;
    border-radius: 6px;
    font-size: 1.5rem;
    width: auto;
    height: auto;
    align-self: center;
    background-color: var(--cViolet1Hover);
    color: var(--cWhite);
    padding: 6px 10px;
    margin: 10px;
    cursor: pointer;
    transition: 0.2s;
}
main button:hover{
    background-color: var(--cViolet1HoverLighter);
}
/* space for calculator of revenue*/

.calculateRevenue{
    width: 98%;
    height: fit-content;
    background-color: var(--cLightBlue);
    margin: 0;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 1rem;
    border-radius: 6px;

} 
/*
    border: 2px solid var(--cBlack);
*/
.dataInput{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    font-size: 1.5rem;
    > input{
        font-size: 1.5rem;
        margin-bottom: 5px;
    }
    > label{
        width: auto;
        align-self: center;
    }
}

.buttonContainer {
    text-align: right;
}

.totalResult{
    display: flex;
    flex-direction: column;
    
    > h2{
        font-size: 1.4rem;
        margin: 0;
        padding: 0;
    }
    > h1{
        font-size: 1.8rem;
        margin: 0;
        padding: 0;
        margin-top: 40px;
    }
    > span{
        width: 100%;
        text-align: right;
        font-size: 1.2rem;
        cursor: pointer;
    }
    > span i{
        color: var(--cViolet1);
        transition: 0.2s;
    }
    >span i:hover{
        color: var(--cViolet1Hover);
    }
}

/* pie chart */
.circleDiagram figure{
    margin: 0;
    padding: 0;
    > div {
        margin: auto;
    }
}
/*
    border: 2px solid var(--cBlack);
*/
.donut2 {

    flex: 1 0 225px;
    max-width: 200px;
    aspect-ratio: 1;
    border-radius: 50%;

    background-image: radial-gradient(var(--cLightBlue) 40%, transparent 0 70%),
        conic-gradient(
            from 30deg,
            var(--cGreenBlue) 0%,
            var(--cViolet1Hover) 0
        );
    /* перший колір в radial-gradient - колір кружка над piechart, 
    други1 колір - під piechart*/
    
    /* Flexbox for centering */
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    
    > p {
        text-align: center;
        font-size: 1.8rem;
    }
}
















